## 1. Write a Python program to convert kilometers to miles?

In [6]:
n = int(input("Enter a value in 'km' to convert it into 'miles' : "))
q = n*0.612
print("Given value in miles is ",q)

Enter a value in 'km' to convert it into 'miles' : 56
Given value in miles is  34.272

## 2. Write a Python program to convert Celsius to Fahrenheit?

In [12]:
n = int(input("Enter a value in 'Celsius' to convert it into 'Fahrenheit' : "))
k = (n*(9/5))+32
print("Given value in Fahrenheit is ",k)

Enter a value in 'Celsius' to convert it into 'Fahrenheit' : 45
Given value in Fahrenheit is  113.0

## 3. Write a Python program to display calendar?

In [8]:
import calendar
print(calendar.calendar(2021,w=7, l=1, c=6, m=2))

                                                        2021

                        January                                                      February
  Mon     Tue     Wed     Thu     Fri     Sat     Sun          Mon     Tue     Wed     Thu     Fri     Sat     Sun
                                    1       2       3            1       2       3       4       5       6       7
    4       5       6       7       8       9      10            8       9      10      11      12      13      14
   11      12      13      14      15      16      17           15      16      17      18      19      20      21
   18      19      20      21      22      23      24           22      23      24      25      26      27      28
   25      26      27      28      29      30      31

                         March                                                        April
  Mon     Tue     Wed     Thu     Fri     Sat     Sun          Mon     Tue     Wed     Thu     Fri     Sat     Sun
    1       2       3       4       5       6       7                                    1       2       3       4
    8       9      10      11      12      13      14            5       6       7       8       9      10      11
   15      16      17      18      19      20      21           12      13      14      15      16      17      18
   22      23      24      25      26      27      28           19      20      21      22      23      24      25
   29      30      31                                           26      27      28      29      30

                          May                                                          June
  Mon     Tue     Wed     Thu     Fri     Sat     Sun          Mon     Tue     Wed     Thu     Fri     Sat     Sun
                                            1       2                    1       2       3       4       5       6
    3       4       5       6       7       8       9            7       8       9      10      11      12      13
   10      11      12      13      14      15      16           14      15      16      17      18      19      20
   17      18      19      20      21      22      23           21      22      23      24      25      26      27
   24      25      26      27      28      29      30           28      29      30
   31

                          July                                                        August
  Mon     Tue     Wed     Thu     Fri     Sat     Sun          Mon     Tue     Wed     Thu     Fri     Sat     Sun
                            1       2       3       4                                                            1
    5       6       7       8       9      10      11            2       3       4       5       6       7       8
   12      13      14      15      16      17      18            9      10      11      12      13      14      15
   19      20      21      22      23      24      25           16      17      18      19      20      21      22
   26      27      28      29      30      31                   23      24      25      26      27      28      29
                                                                30      31

                       September                                                     October
  Mon     Tue     Wed     Thu     Fri     Sat     Sun          Mon     Tue     Wed     Thu     Fri     Sat     Sun
                    1       2       3       4       5                                            1       2       3
    6       7       8       9      10      11      12            4       5       6       7       8       9      10
   13      14      15      16      17      18      19           11      12      13      14      15      16      17
   20      21      22      23      24      25      26           18      19      20      21      22      23      24
   27      28      29      30                                   25      26      27      28      29      30      31

                        November                                                     December
  Mon     Tue     Wed     Thu     Fri     Sat     Sun          Mon     Tue     Wed     Thu     Fri     Sat     Sun
    1       2       3       4       5       6       7                            1       2       3       4       5
    8       9      10      11      12      13      14            6       7       8       9      10      11      12
   15      16      17      18      19      20      21           13      14      15      16      17      18      19
   22      23      24      25      26      27      28           20      21      22      23      24      25      26
   29      30                                                   27      28      29      30      31

## 4. Write a Python program to solve quadratic equation?

In [1]:
import cmath

In [6]:
a = int(input("Enter a's value : "))
b = int(input("Enter b's value : "))
c = int(input("Enter c's value : "))
e = str(a)+"x2"+"+"+str(b)+"x"+"+"+str(c)+"= 0"
print("The quadratic equation formed with given variables is : ",e)

k=(b**2)-(4*a*c)

print("k value is",k)

if k < 0:
    print("The given equation",e,"has no real solution")
elif k == 0:
    sol1 = (-b+cmath.sqrt(k))/(2*a)
    print("The given equation",e,"has only one solution",sol1)
else:
    sol1 = (-b+cmath.sqrt(k))/(2*a)
    sol2 = (-b-cmath.sqrt(k))/(2*a)
    print("Solutions of given quadratic equation",e,"are : ",sol1,sol2)

Enter a's value : 2
Enter b's value : 3
Enter c's value : 1
The quadratic equation formed with given variables is :  2x2+3x+1= 0
k value is 1
Solutions of given quadratic equation 2x2+3x+1= 0 are :  (-0.5+0j) (-1+0j)

## 5. Write a Python program to swap two variables without temp variable?

In [30]:
a = int(input("Enter a's value : "))
b = int(input("Enter a's value : "))
print("Values of a and b before swaping are : ","a =",a,"; b =",b)
a,b = b,a
print("Values of a and b after swaping are : ","a =",a,"; b =",b)

Enter a's value : 57
Enter a's value : 97
Values of a and b before swaping are :  a = 57 ; b = 97
Values of a and b after swaping are :  a = 97 ; b = 57